<h1><%=@user.capitalize%></h1>

<h3>Email Address</h3>
<%= @email_address %>
<h3>Interests</h3>
<ul>
	<% @interests.each do |interest| %>
		<li> <%=interest%> </li>
	<% end %>	
</ul>

<br>

<% @names.each do |name|%>
<% next if name == @user %>
<a href="/users/<%=name%>"><%=name.capitalize%></a>
<% end %>
